package {{{javaPackageFull}}}.model.req;

import jakarta.validation.constraints.NotBlank;
import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Data;
import lombok.NoArgsConstructor;

/**
 * Request to create a Stripe Checkout session
 */
@Data
@Builder
@NoArgsConstructor
@AllArgsConstructor
public class CreateCheckoutRequest {

    @NotBlank(message = "Price ID is required")
    private String priceId;

    private String successUrl;

    private String cancelUrl;

    private String customerEmail;

    {{#enableSubscriptions}}
    private Integer trialPeriodDays;
    {{/enableSubscriptions}}

    {{#enableOneTimePayments}}
    private Integer quantity;
    {{/enableOneTimePayments}}
}
